.notifications-card {
    width: 100%;
    padding: 10px;
}


/* HEADER */

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    padding: 10px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title h2 {
    margin: 0;
    font-size: 22px;
}

.mark-read {
    background: none;
    border: none;
    color: #4f46e5;
    cursor: pointer;
    font-weight: 500;
}



/* TABS */

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab {
    padding: 8px 14px;
    border-radius: 8px;
    border: none;
    background: #eef2ff;
    cursor: pointer;
    font-weight: 500;
}

.tab.active {
    background: #6366f1;
    color: white;
}



/* LIST */

.notification-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}



/* CARD */

.notification {
    display: flex;
    align-items: center;
    gap: 12px;

    background: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;

    position: relative;

    transition: .2s;
}

.notification:hover {
    box-shadow: 0 6px 14px rgba(0, 0, 0, .06);
}



/* UNREAD STYLE */

.notification.unread {
    border-left: 4px solid #6366f1;
}



/* AVATAR */

.avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-weight: 600;
}

.avatar.red {
    background: #ef4444;
}

.avatar.orange {
    background: #f97316;
}



/* CONTENT */

.content {
    flex: 1;
}

.content p {
    margin: 0;
    font-size: 15px;
}

.link {
    color: #4f46e5;
    cursor: pointer;
    font-weight: 500;
}

.date {
    font-size: 13px;
    color: #6b7280;
}



/* UNREAD DOT */

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #3b82f6;
}