.drawer-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(9, 30, 66, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.drawer {
    width: 70%;
    height: 85%;
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}

/* HEADER */
.drawer-header {
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    border-bottom: 1px solid #dfe1e6;
}

.close-btn {
    border: none;
    background: white;
    cursor: pointer;
    font-size: 16px;
}

/* BODY */
.drawer-body {
    display: flex;
    flex: 1;
}

/* LEFT */
.left {
    width: 70%;
    padding: 16px;
    border-right: 1px solid #ebecf0;
}

/* RIGHT */
.right {
    width: 30%;
    padding: 16px;
}


.comment-btn {
    padding: 6px 12px;
    border: none;
    background: #0052cc;
    color: white;
    border-radius: 4px;
}



.task-drawer-wrapper .drawer-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(9, 30, 66, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.task-drawer-wrapper .drawer {
    width: 70%;
    height: 85%;
    background: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}

/* HEADER */
.task-drawer-wrapper .drawer-header {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    border-bottom: 1px solid #dfe1e6;
}

/* BODY */
.task-drawer-wrapper .drawer-body {
    display: flex;
    flex: 1;
}

.task-drawer-wrapper .left {
    width: 70%;
    padding: 20px;
    border-right: 1px solid #ebecf0;
}

.task-drawer-wrapper .right {
    width: 30%;
    padding: 20px;
}

/* INPUTS */
.task-drawer-wrapper textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dfe1e6;
    border-radius: 6px;
    background: #fafbfc;
}

.task-drawer-wrapper select,
.task-drawer-wrapper input {
    width: 100%;
    margin-bottom: 12px;
    padding: 8px;
    border: 1px solid #dfe1e6;
    border-radius: 6px;
    background: #fafbfc;
}

/* BUTTON */
.task-drawer-wrapper .comment-btn {
    padding: 8px 16px;
    border: none;
    background: #0c66e4;
    color: white;
    border-radius: 6px;
}

/* COMMENT */
.task-drawer-wrapper .comment {
    background: #f4f5f7;
    padding: 8px;
    margin-top: 8px;
    border-radius: 6px;
}