.gantt-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.gantt-modal {
  width: 90%;
  height: 85%;
  background: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.gantt-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  font-size: 18px;
}

.close-btn {
  border: none;
  background: white;
  cursor: pointer;
  font-size: 16px;
}

/* MAIN GANTT GRID */
.gantt-body {
  display: grid;
}

/* LEFT HEADER */
.task-header {
  padding: 8px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* DATE HEADER */
.day {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #eee;
  font-size: 12px;
}

/* TASK NAME */
.task-row {
  padding: 8px;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #ddd;
  display: flex;
  align-items: center;
}

/* BAR */
.task-bar {
  height:16px;
  background:#6b5dd3;
  border-radius:4px;
  align-self:center;
}



.timeline-top {
  display:flex;
  justify-content:space-between;
  padding:10px;
  border-bottom:1px solid #ddd;
}

.view-toggle button {
  padding:5px 12px;
  border:1px solid #ddd;
  background:white;
  cursor:pointer;
}

.view-toggle .active {
  background:#0052cc;
  color:white;
}


.month {
  text-align:center;
  font-weight:600;
  border-bottom:1px solid #ddd;
  border-right:1px solid #eee;
  padding:6px;
  background:#fafafa;
}

.day {
  text-align:center;
  border-bottom:1px solid #ddd;
  border-right:1px solid #eee;
  font-size:12px;
}